@tailwind base;
@tailwind components;
@tailwind utilities;

.promo{
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}


.promo img{
    width: 100%;
}



.promo-button{
    cursor: pointer;
    padding: 40px;
}

#left{
    width: 2%;
    position: absolute;
    left: 0;
}

#right{
    width: 2%;
    position: absolute;
    right: 0;
}

.promo-container img{
    display: flex;
}
